<a href="https://colab.research.google.com/github/adepril/Analyse-des-lancements-spaciaux/blob/main/SpaceLaunches.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analyse des lancements spatiaux (jeu de données récupéré sur Kaggle).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

df = pd.read_csv('https://raw.githubusercontent.com/adepril/datasets/main/space_launches.csv')
df.head()

   Unnamed: 0  Unnamed: 0.1 Company Name  ... Status Rocket  Rocket Status Mission
0           0             0       SpaceX  ...  StatusActive   50.0         Success
1           1             1         CASC  ...  StatusActive  29.75         Success
2           2             2       SpaceX  ...  StatusActive     NaN        Success
3           3             3    Roscosmos  ...  StatusActive   65.0         Success
4           4             4          ULA  ...  StatusActive  145.0         Success

[5 rows x 9 columns]

Dans un premier temps, nous allons supprimer les deux colonne "Unnamed 0" et "Unnamed 0.1" qui ne servent à rien.

In [2]:
df = df.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1).reset_index(drop=True)
df.sample(5)

      Company Name  ... Status Mission
4081  US Air Force  ...        Success
2273     RVSN USSR  ...        Success
42          VKS RF  ...        Success
3719     RVSN USSR  ...        Success
4171     RVSN USSR  ...        Success

[5 rows x 7 columns]

Création des nouvelles colonnes : "Country" , "LaunchTime et LaunchDate : à partir de Datum pour une manipulation plus facile de l'heure et de la date

In [3]:
#Country: à partir de "Location"
df['country'] = [str(val).split(',')[-1].lstrip() for val in df.loc[:]['Location']]
#-Launch_time et Launch_date : à partir de Datum pour une manipulation plus facile de l'heure et de la date
df['launch_time']=df['Datum'].str.split(" ").str[-2]
df['launch_date']=df['Datum'].str.split(", ").str[-2]
#creation colonne "Year"
df['launch_year']=df['Datum'].str.split(" ").str[-3]
df.head()
#df.sample(5)

  Company Name  ... launch_year
0       SpaceX  ...        2020
1         CASC  ...        2020
2       SpaceX  ...        2020
3    Roscosmos  ...        2020
4          ULA  ...        2020

[5 rows x 11 columns]

Création d'un dictionary mlappant les Compagnies au pays ...

In [4]:
dict_comp = dict(zip(df['Company Name'], df['country']))

... puis création d'une colonne "sat_country"

In [5]:
#Declare a Dictionary dict_comp to map company name to origin country
df['sat_country'] = df['Company Name'].map(dict_comp)
#df.sample(5)

Manipulation de la colonne "Status Mission" pour garder les valeurs "Success" et "Failure" (transformer "Partial Failure" et Prelaunch Failure" en "Failure").

In [6]:
# Il faut transformer "Partial Failure" et Prelaunch Failure" en "Failure"
df["Status Mission"].value_counts()

Success              3879
Failure               339
Partial Failure       102
Prelaunch Failure       4
Name: Status Mission, dtype: int64

In [7]:
# Nouvelle colonne "StatusMission" où dles valeurs "Partial Failure" et "Prelaunch Failure" sont transformées en "Failure"
df["status_mission"] = np.where(df["Status Mission"]=="Success","Success","Failure")
#Nouvelle colonne "Success" où success=1 et failure=0
df["success"] = np.where(df["Status Mission"]=="Success",1,0)
#Exemple
df.iloc[973]

Company Name                                      VKS RF
Location          Site 32/2, Plesetsk Cosmodrome, Russia
Datum                         Fri Dec 24, 2004 12:00 UTC
Detail                    Tsyklon-3 | Sich 1M & Micron 1
Status Rocket                              StatusRetired
 Rocket                                              NaN
Status Mission                           Partial Failure
country                                           Russia
launch_time                                        12:00
launch_date                                   Fri Dec 24
launch_year                                         2004
sat_country                                       Russia
status_mission                                   Failure
success                                                0
Name: 973, dtype: object

Manipulation des données en vue d'une représentation graphique

In [19]:
data_gp =df.groupby(["sat_country","launch_year"]).agg({"country":"count","success":"sum"}).reset_index()
data_gp.head(3)

  sat_country launch_year  country  success
0   Australia        1968        1        1
1   Australia        1969        1        0
2   Australia        1970        2        0

In [ ]:
df['total_launch'] = data_gp['country']
df['total_launch'].value_counts()

In [21]:
data_gp.rename(columns={"country":"total_launch"},inplace=True)
data_gp.head(3)

  sat_country launch_year  total_launch  success
0   Australia        1968             1        1
1   Australia        1969             1        0
2   Australia        1970             2        0

In [22]:
idx = pd.MultiIndex.from_product([data_gp['launch_year'].unique(), data_gp['sat_country'].unique()], names=['launch_year', 'sat_country']) 
#print(idx)

In [23]:
dat2 = data_gp.set_index(['launch_year', 'sat_country']).reindex(idx).fillna(0).sort_values(ascending=True,by=["sat_country","launch_year"]) 
#print(dat2)

In [24]:
dat2 = pd.concat([dat2, dat2.groupby(level=1).cumsum().add_prefix('cum_')], 1).sort_index(level=1).reset_index() 
#dat2

In [25]:
dat2.sort_values(ascending=[True,False],by=["launch_year","sat_country"],inplace=True)
#dat2

In [26]:
dat2.rename(columns={"launch_year":"Year","cum_total_launch":"Cumulative Launches","sat_country":"Country","cum_success":"Cumulative Successes"},inplace=True) 
#dat2

#Animation

In [ ]:
px.bar(dat2,x="Country",y="Cumulative Launches",color="Country",animation_group="Country",animation_frame="Year",range_y=[0,2200],width=1200)

Succès cumulés / Lancements cumulés

In [ ]:
fig=px.scatter(
    dat2, x="Cumulative Launches", y="Cumulative Successes", animation_frame="Year", animation_group="Country",
    color="Country", hover_name="Country",size="Cumulative Launches", size_max=55, range_x=[0,2400], range_y=[0,2200],
    width=1000
    )
fig.update_layout(showlegend=True)

TODO

In [30]:
#remplace "NaN" par "0" dans la colonne "total_launch"
df['total_launch'].fillna(0, inplace = True)
df.sample(5)
df[df["sat_country"]=="USA"]

     Company Name  ... total_launch
0          SpaceX  ...          1.0
2          SpaceX  ...          2.0
4             ULA  ...          1.0
8          SpaceX  ...          1.0
10       Northrop  ...          1.0
...           ...  ...          ...
4317      US Navy  ...          0.0
4318         AMBA  ...          0.0
4319      US Navy  ...          0.0
4320         AMBA  ...          0.0
4321      US Navy  ...          0.0

[1353 rows x 15 columns]